/* Define fonts and colors */
:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

/* Universal styling (fonts, colors, etc.) */
body {
    background: var(--secondary-color);
}

header {
    background: var(--primary-color);
}

main {
    background: var(--primary-color);
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default */

/* BEGIN HEADER STYLING */
header {
    overflow: hidden;
    position: relative;
}
/* END HEADER STYLING*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}