/* Define fonts and colors */
:root {
    --primary-color: #F7EBEC;
    --secondary-color: #1D1E2C;
    --tertiary-color: #59656F;
    --quarternary-color: #AC9FBB;
    --fifth-color: #DDBDD5;

    --primary-font: 'Clicker Script', serif;
    --secondary-font: 'Enriqueta', serif;
    --tertiary-font: 'Taviraj';
}

/* Universal styling (fonts, colors, etc.) */
body {
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--tertiary-font);
    margin: 0;
}

h1 {
    font-family: var(--primary-font);
    font-style: italic;
}

h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
}

a:hover {
    background: var(--quarternary-color);
    color: var(--secondary-color);
}

main {
    border-top: solid 1px var(--secondary-color);
    border-bottom: solid 1px var(--secondary-color);
}

/* BEGIN COVER IMAGE STYLING */
figure.overlay-caption-center {
    margin: 0;
    color: white;
    position: relative;
    text-align: center;
}

figure.overlay-caption-center>img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    filter: brightness(60%);
}

figure.overlay-caption-center>figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

figure.overlay-caption-center h1, figure.overlay-caption-center h2 {
    margin: 0;
}
/* END COVER IMAGE STYLING*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    /* BEGIN DROPDOWN STYLING */
    header {
        overflow: hidden;
        position: relative;
    }

    .logo-and-icon {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px 10px;
    }

    header nav {
        display: none;
    }

    header nav a {
        padding: 14px 16px;
        display: block;
    }
    /* END DROPDOWN STYLING*/
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }

    header .icon {
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header a {
        text-align: center;
        height: fit-content;
        padding: 0 10px;
    }
}