#calculator {
    max-width: 400px;
    margin: auto;
}

#calculator_display * {
    /*border: solid 1px white;*/
    margin: 0;
    margin-right: 0.5rem;
}

#calculator_display {
    height: 2rem;
    border: var(--secondary-color) 2px solid;
    text-align: right;
    border-radius: 3px;
    padding: 5px
}

#calculator_display #saved_num {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    display: none;
}



#calculator_buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#calculator_buttons > * {
    padding: 10px;
}

#equals {
    grid-column: 4;
    grid-row-start: 2;
    grid-row-end: 6;
}