body {
    background-color: #373737;
    color: #cfcfcf;
    font-family: Tahoma, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    font-family: "Sitka Text", serif;
}

nav {
    text-align: center;
}

a, .header-nav-link, .footer-nav-link {
    color: #cfcfcf;
}

.copyright {
    text-align: center;
}

.html-validation, .css-validation {
    display: inline;
    margin: auto 20px;
}

.validators {
    text-align: center;
}

figure {
    text-align: center;
    font-style: italic;
}
li {
    margin: 5px auto;
}