body {
    background-color: #373737;
    color: #cfcfcf;
    font-family: Tahoma, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    font-family: "Sitka Text", serif;
}

nav {
    text-align: center;
}

a {
    color: #cfcfcf;
    text-decoration: none;
}

a:visited {
    color: #9f9f9f;
}

a:hover {
    color: #efefef;
}

footer {
    text-align: center;
}

figure {
    text-align: center;
    font-style: italic;
}
li {
    margin: 5px auto;
}