body {
    background-color: #373737;
    color: #cfcfcf;
    font-family: Tahoma, sans-serif;
}

main {
    width: 90%;
    margin: auto;
    max-width: 1000px;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3 {
    font-family: "Sitka Text", serif;
}

nav {
    text-align: center;
}

a {
    color: #cfcfcf;
    text-decoration: none;
}

a:hover {
    color: #efefef;
}

footer {
    text-align: center;
}

figure {
    text-align: center;
    font-style: italic;
}
li {
    margin: 5px auto;
}

table {
    margin: auto;
    width: 650px;
    padding: 0;
}

tr:first-child {
    background-color: #2a2a2a;
}

th, td {
    padding: 3px;
}

tr:nth-child(even) {
    background-color: #4a4a4a;
}

td:last-child, td:nth-last-child(2) {
    text-align: center;
}

label {
    display: block;
    margin: 3px auto;
}

form {
    border: #9f9f9f solid 2px;
    width: fit-content;
    margin: auto;
    padding: 20px 15px;
}

fieldset {
    border: none;
}

hr {
    width: 90%;
}

input {
    margin: auto;
    padding: 2px 5px;
}

input[type="submit"], input[type="reset"], select, input, button {
    color: #cfcfcf;
    background-color: #2a2a2a;
    border: #9f9f9f solid 2px;
    border-radius: 3px;
}

input:hover {
    background-color: #373737;
}

/*fieldset:first-of-type {*/
/*    text-align: center;*/
/*}*/
