.slideshow, .slideshow * {
    box-sizing: border-box;
}

.slideshow {
    position: relative;
}

.slides {
    width: 100%;
    aspect-ratio: 1/1;
}

.slides img {
    display: none;
    /*object-fit: cover;*/
    /*aspect-ratio: 1/1;*/
    width: 100%;
}

.prev, .next {
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    background: var(--primary-color);
    opacity: 75%;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
}

.thumbnails img {
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
}

.caption {
    width: 100%;
    text-align: center;
}