<header>
    <script src="scripts/toggleNav.js"></script>
    <div class="logo-and-icon">
        <a href="./" class="logo">Logo Placeholder</a>
        <a href="#" class="icon" onclick="toggleNav()"><i class="fa fa-bars"></i></a>
    </div>
    <nav>
        <a href="about.html">ABOUT</a><a href="services.html">SERVICES</a><a href="scheduling.html">SCHEDULING</a><a
            href="equestrian-gallery.html">EQUESTRIAN GALLERY</a><a href="portrait-gallery.html">PORTRAIT GALLERY</a>
    </nav>
</header>