<header>
    <h1>John Krueger's Judicious Kestrel <span>|</span> ITIS-3135</h1>
    <nav>
        <a href="./">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
        <a href="tables.html">Tables</a>
        <a href="forms.html">Forms</a>
        <a href="website_evaluations.html">Site Evaluations</a>
        <a href="firstscripts.html">First Scripts </a>
        <a href="byo_intro.html">BYO Intro</a>
        <a href="project_1.html">Project 1</a>
        <a href="emmet.html">Emmet</a>
        <a href="calculator_try.html">Calculator</a>
        <a href="arrays.html">Arrays</a>
    </nav>
    <br>
    <nav>
        <a href="stuff/super%20epic%20webpage%20-.-%20.htm">Crap Page</a>
        <a href="emmalynne.photography/">Project 1 - Emma Lynne Photography</a>
    </nav>
    <hr>
</header>